@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  font-family: "Quicksand", sans-serif;
}

.rec-arrow:hover:enabled,
.rec-arrow:focus:enabled {
    background-color: #eee !important;
    color: black !important;
}

.rec-arrow {
  background-color: white !important;
}

.TOOOs {
  background-color: #eef8f8 !important;
  box-shadow: 0 0 1px 3px #1d3557 !important;
}

.TOOOs:hover,
.TOOOs:focus {
  background-color: #eef8f8 !important;
  box-shadow: 0 0 1px 3px #1d3557 !important;
}

.gDWTyI{
  margin: 0  !important;
}

.banner {
  background-image: url("../public/images/banners/banner.jpg");
}
.chennai {
  background-image: url("../public/images/banners/chennai-banner.jpg");
}
.bengalore {
  background-image: url("../public/images/banners/bengalore-banner.jpg");
}
.delhi {
  background-image: url("../public/images/banners/delhi-banner.jpg");
}
.mumbai {
  background-image: url("../public/images/banners/mumbai-banner.jpg");
}
.kolkata {
  background-image: url("../public/images/banners/kolkata-banner.jpg");
}
.jaipur {
  background-image: url("../public/images/banners/jaipur-banner.jpg");
}
.hydrabad {
  background-image: url("../public/images/banners/hydrabad-banner.jpg");
}

.active-scroll-spy {
  color: #1d3557;
  border-bottom: 2px solid #1d3557;
  font-weight: bold;
}

.hotel .rec-carousel-wrapper{
  position: relative;
}

.hotel .rec-arrow-left{
  position:absolute;
  z-index: 1;
}
.hotel .rec-arrow-right{
  position:absolute;
  z-index: 1;
  right: 0;
}

.hotel .gqbdyc{
  height:100%;
}

.hotel .rec-slider-container{
  margin: 0px !important;
}