@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body{
  font-family: 'Quicksand', sans-serif;
}

.lbWDau:hover:enabled, .lbWDau:focus:enabled{
  background-color: #EEE !important;
  color:black !important;
}

.lbWDau{
  background-color: white !important;
}

.TOOOs{
  background-color: #EEF8F8 !important;
  box-shadow: 0 0 1px 3px #1D3557 !important;
}

.TOOOs:hover, .TOOOs:focus{
  background-color: #EEF8F8 !important;
  box-shadow: 0 0 1px 3px #1D3557 !important;
}

.banner{
  background-image: url('../public/images/banners/banner.jpg');
}
.chennai{
  background-image: url('../public/images/banners/chennai-banner.jpg');
}
.bengalore{
  background-image: url('../public/images/banners/bengalore-banner.jpg');
}
.delhi{
  background-image: url('../public/images/banners/delhi-banner.jpg');
}
.mumbai{
  background-image: url('../public/images/banners/mumbai-banner.jpg');
}
.kolkata{
  background-image: url('../public/images/banners/kolkata-banner.jpg');
}
.jaipur{
  background-image: url('../public/images/banners/jaipur-banner.jpg');
}
.hydrabad{
  background-image: url('../public/images/banners/hydrabad-banner.jpg');
}