@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body{
  font-family: 'Quicksand', sans-serif;
}

.slick-slide{
  padding-right: 20px;
  padding-left: 20px;
}

.slick-list{
  height: 170px !important;
} 

.slick-arrow{
  display: none !important;
}